@import '../sasscomponent/variable.scss';
.test-car__image{
    img{
        width: 100%;
    }
}
.test-car__received{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    span{
        font-size: 14px;
        color: $praghraph-color;
    }
    h1{
        margin: 0px 0px 19px;
    }
    p{
        color: $praghraph-color;
    }
    button{
        text-decoration: none;
        display: inline-block;
        background-color: $main-color;
        color: $text-color;
        padding: .875rem 2.375rem !important ;
        border: 1px solid $main-color;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        font-size:.875rem;
        border-radius:0!important ;
        &:hover{
            background-color: rgba(0,0,0,0);
            color: $main-color;
        }
    }
}