@import '../sasscomponent/variable.scss';
.navbar{
    position: fixed!important;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    padding: 0!important;
    z-index: 9999999;
    .navbar-brand{
        width: 10%;
        margin-right: 0;
        position: relative;
        padding: 0px;
        @media screen and (max-width:768px) {
            width: 15%;
        }
        @media screen and (max-width:480px) {
            width: 30%;
        }
        &::before{
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            background: rgba(255,0,0, 60%);
            left: 35px;
            top: 0;
            z-index: -1;
            transform: skewX(-30deg);
            transition: all .25s ease;
            @media screen and (min-width:769px) and (max-width:1024px){
                left: 20px;
            }
            @media screen and (min-width:320px) and (max-width:480px){
                left: 48px;
            }
            @media screen and (min-width:1441px){
                left: 100px;
            }
        }
        a{
            display: inline-block;
            width: 100%;
            padding-right: 10px;
            text-decoration: none;
            color:$text-color;
            font-family: 'Lalezar', cursive;
            @media screen and (max-width:768px) {
                padding-right: 0px;;
            }

        }
    }
    .collapse{
        a{
            color: $text-color!important;
            font-size: 18px;
            margin: 0px 20px;
        }
    }
    @media screen and (max-width:480px) {
        position: relative!important;
        background-color: $secondary-color;
    }

}

.logo{
    width: 70%;
    img{
        width: 100%;
        @media screen and (max-width:480px) {
            width: 70%;
        }
        

    }
    p{
        margin: 0;
        span{
            color: $secondary-color;
            animation: rotate 6s linear infinite;
            margin-left: 5px;
            font-size: 26px;
            display: inline-block;
            @media screen and (max-width:768px) {
                font-size: 12px;
            }
        }
        @media screen and (max-width:480px) {
            font-size: 12px!important;
        }
        font-family: 'Reem Kufi', sans-serif;
        &:last-of-type{
            font-size: 25px;
            @media screen and (max-width:1024px) {
                font-size: 20px!important;
            }
        }
    }
    @media screen and (min-width:1441px){
        width:50%;
    }
    @media screen and (max-width:1440px)and (min-width:1025px){
        width:60%;
    }
}
@keyframes rotate{
    from{
        transform: rotate(-0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}