
@import '../sasscomponent/variable.scss';
%card{
    border: none;
    height: 100%;
    img{
        width: 100%;
    }
    h5{
        color: $main-color;
        @media screen and (max-width:1024px) {
            font-size: 18px;
        }
    }
    span{
        display: block;
        color: $praghraph-color;
    }
}