body {
  margin: 0;
}
*{
  box-sizing: border-box;
}
ul{
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.facebook{
  position: fixed;
  background-color: red;
  right: -30px;
  bottom: 50px;
  transform: rotate(-90deg);
  color:white;
  padding: 10px;
  z-index: 9999999999999;
}
.facebook a{
  text-decoration: none;
  color: white;
}
.facebook a:hover{
  color: white;
  text-decoration: none;
}
::selection { color:#8C939A ; }